/*body {*/
    /*background-color: blue;*/
/*}*/

/*@media screen and (max-width: 400px) {*/
    /*body {*/
        /*background-color: red;*/
    /*}*/
/*}*/

/*@media screen and(min-width:401px ) and (max-width:599px) {*/
    /*body {*/
        /*background-color: green;*/
    /*}*/
/*}*/

.test {
    margin-left: 800px;
}